<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<style>
  h2 {  
    color: mediumseagreen;      
  }
  body {
    background: rgba(214, 238, 227, 0.349);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 13px;
  }
  hr {
    border-color:  rgba(174, 208, 241, 0.288)
  }
  .same {
    font-weight:bold;
    color : blue;
  }
  .difference {
    font-weight:bold;
    color: red;
  }
  .inline-view {
    display:inline-block;
  }
</style>
<body>
  <div id="app">
    <!--템플릿 내에 표현식을 많이 쓰지 않기 위해서 계산된 속성을 사용한다.-->
    <div class="reverse">
      <h2># Reversed Message</h2>
      <p> original: {{ message }}</p>
      <p> reversed: {{ reversedMessage }}</p>
      <p> use Method: {{ reversedMessageUsingMethod() }}</p>
    </div>
    <hr>
    <div class="mothods">
      <h2># Differences Between Computed And Methods</h2>
      <!--두 방식의 차이점은 종속성의 차이-->
      <!-- computed는 반응형 의존성이 있는 값이 변할 때만 작동, 캐싱함-->
      <!-- methods는 렌더링 할 때마하다 항상 호출-->
      <p>init time : {{ now }}</p>
      <p>change time : <span v-show="showTime">{{ changeNow() }}</span></p>
      <button @click="changeTimeFlag">change Time render</button>
      <p>init time and change time are <span :class="validClass()">{{ validClass() }}.</span></p>
    </div>
    <hr>
    <div class="computed-good">
      <h2># Computed Good</h2>
      <div>
        <!-- 항상 감시하고, 계산한다 -->
        <p>Watched Properties</p>
        <p>Full Name: {{ fullNameByWatched }}</p>
        <p class="inline-view">First Name : </p><input v-model="firstNameByWatched"/>
        <p class="inline-view">Last Name : </p><input v-model="lastNameByWatched"/>
      </div>
      <div>
        <!-- 캐싱 해놓는다. 둘 중 하나 변경되면 다른 감시 속성은 캐싱된 데이터를 활용-->
        <p>Computed Properties</p>
        <p>Full Name: {{ fullNameByComputed }}</p>
        <p class="inline-view">First Name : </p><input v-model="firstNameByComputed"/>
        <p class="inline-view">Last Name : </p><input v-model="lastNameByComputed"/>
      </div>
    </div>
    <hr>
    <div class="computed-get-set">
      <h2># Computed offer getter and setter.</h2>
      <p> itemList: {{ fruits }}</p>
      <!--computed 속성의 setter 를 호출한다.-->
      <button @click="addNewFruit">add fruit</button>
    </div>
    <hr>
    <div class="watched-good">
      <h2># Watched Good</h2>
      <!-- Watcher 는 비동기 계산이 필요하거나, 반응이 오래걸리는 경우 유용하다. -->
      <p>YES / NO</p>
      <input v-model="ajaxQuestion" :placeholder="ajaxPlaceHolder"/>
      <p>Answer: {{ answer }}</p>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
          message: 'Hello! World!',
          showTime: true,
          initTime: '',
          changeTime: '',
          firstNameByWatched: 'Foo',
          lastNameByWatched: 'Bar',
          fullNameByWatched: 'Foo Bar',
          firstNameByComputed: 'Foo',
          lastNameByComputed: 'Bar',
          fruitList: ['apple', 'orange', 'banana', 'grape' ],
          ajaxPlaceHolder: '질문을 입력하세요.',
          ajaxQuestion: '',
          answer: '질문을 하기 전까지 대답할 수 없습니다.'
      },
      computed: {
          reversedMessage: function reversedMessage() {
              return this.message.split('').reverse().join('');
          },
          now: function now() {
              this.initTime = Date.now();
              return this.initTime;
          },
          // 해당 메서드는 감시하는 속성을 캐싱해놓는다.,
          fullNameByComputed: function fullNameByComputed() {
              return this.firstNameByComputed + ' ' + this.lastNameByComputed;
          },
          fruits: {
              get : function get() {
                  return this.fruitList;
              },
              set : function set(newValue) {
                  return this.fruitList.push(newValue);
              }
          }
      },
      watch: {
          // 이런 형식의 감시자는 감시하는 속성이 변경될 때마다 호출되서, 비효율 적이다.
          firstNameByWatched: function(value) {
              this.fullNameByWatched = value + ' ' + this.lastNameByWatched;
          },
          lastNameByWatched: function(value) {
              this.fullNameByWatched = this.firstNameByWatched + ' ' + value;
          },
          ajaxQuestion: function(value) {
              this.answer = '입력을 기다리는 중...';
              this.getAnswer();
          }
      },
      methods: {
          reversedMessageUsingMethod: function reversedMessage() {
              return this.message.split('').reverse().join('');
          },
          changeNow: function changeNow() {
              this.changeTime = Date.now();
              return this.changeTime;
          },
          changeTimeFlag: function changeTimeFlag(e) {
              return this.showTime = !this.showTime;
          },
          validClass: function validClass() {
              return this.initTime === this.changeTime ? 'same' : 'difference';
          },
          addNewFruit: function() {
              //computed prop에 직접 접근할 경우, computed prop의 setter 메서드를 호출한다.
              this.fruits = 'item';
          },
          getAnswer: _.debounce(
              function() {
                  if(this.ajaxQuestion.indexOf('?') === -1) {
                      this.answer = '일반적으로 질문에는 물음표가 포함됩니다. ;-)';
                      return;
                  }
                  axios.get('https://yesno.wtf/api')
                      .then((response) => {
                          this.answer = response.data.answer.toUpperCase();
                      })
                      .catch((error) => {
                          this.answer = '에러! API 요청에 오류가 있습니다. ' + error;
                      });
              }, 500)
      },
    })
  </script>
</body>
</html>
