<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<style>
  h2 {  
    color: mediumseagreen;      
  }
  body {
    background: rgba(214, 238, 227, 0.349);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 13px;
  }
  hr {
    border-color:  rgba(174, 208, 241, 0.288)
  }
  .correct {
    color: mediumblue;
  }
  .incorrect {
    color: crimson;
  }
  .rawClass {
    font-weight: bold;
  }
  .active {
    color: orange;
  }
  .text-danger {
    font-weight: bold;
  }
</style>
<body>
  <div id="app">
    <div class="bind-class">
      <h2># v-bind:class</h2>
      <hr>
      <!-- v-bind로 클래스를 전달할 수 있다 방법은 여러가지-->
      <p :class="correctClass">Class Name: {{ correctClass }}</p>
      <p :class="incorrectClass">Class Name: {{ incorrectClass }}</p>
      <!-- v-bind:class / raw class는 공존 할 수 있다. -->
      <p :class="correctClass" class="rawClass">v-bind:class name> {{ correctClass }} / class name> raw-class</p>
      <hr>
      <!-- true / false 에 따라서, class name을 넣을 수 도 있다. data / computed 모두 가능 -->
      <div class="class-check">
        <p>1. change with inline value</p>
        <p :class="{ active : isActive, 'text-danger': hasError}">inline data</p>
        <input type="checkbox" v-model="hasError"><label> error change </label>
        <input type="checkbox" v-model="isActive"><label> active change </label>
        <p>2. change with computed data</p>
        <p :class="classObj">computed data</p>
        <input type="checkbox" v-model="hasError2"><label> error change </label>
        <input type="checkbox" v-model="isActive2"><label> active change </label>
        <p>3. change with data properties</p>
        <p :class="classObj2">data properties</p>
      </div>
      <hr>
      <!--array 형식으로도 클래스 네임을 넘길 수 있다. 이때는 위와 다르게 리터럴 형식으로 들어가게된다. 또는 둘다 섞어 넣을 수 도 있다.-->
      <p :class="[activeClass, errorClass]"> array type class </p>
      <!--이렇게 3항 연산자도 이용할 수 있다.-->
      <p :class="[isActive ? activeClass : '', errorClass]"> true / false array</p>
      <!--위의 방식을 모두 혼용할 수 도 있다.-->
      <p :class="[{ active: isActive }, errorClass]"> combine type</p>
      <hr>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
          correctClass : 'correct',
          incorrectClass : 'incorrect',
          isActive: true,
          hasError: false,
          isActive2: true,
          hasError2: true,
          classObj2: {
              active: true,
              'text-danger': true,
          },
          activeClass: 'active',
          errorClass: 'text-danger'
      },
      computed: {
          classObj : function classObj() {
              return {
                  active : this.isActive2,
                  'text-danger' : this.hasError2
              }
          }
      }

    })
  </script>
</body>
</html>
