<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<style>
  h2 {
    color: mediumseagreen;
  }
  body {
    background: rgba(214, 238, 227, 0.349);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 13px;
  }
  hr {
    border-color:  rgba(174, 208, 241, 0.288)
  }
</style>
<body>
<div id="app">
  <div class="list-iterate">
    <h2># iterated items</h2>
    <h4>{{ items }}</h4>
    <ul v-for="(item, index) in items">
      <li>{{ item }}</li>
    </ul>
  </div>
  <hr>
  <div class="v-for-access">
    <h2># v-for block access scope</h2>
    <!-- can access to parent scope props -->
    <ul>
      <li v-for="(item, index) in items2">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
      </li>
    </ul>
  </div>
  <hr>
  <div class="v-for-with-changing">
    <h2># Array / Object Change</h2>
    <!-- array change나 object change는 vue proxy에서 알아차리지 못한다.-->
    <h3>Vue에서는 직접 property를 프로그래밍적으로 넣는 것을 감지하지 못한다</h3>
    <h4>하단 mutation method 들을 통한 array 변경은 view update의 트리거가 된다.</h4>
    <ul>
      <li v-for="item in changingList">
        {{ item }}
      </li>
    </ul>
    <h4>하단 mutation method 들을 통한 Object 변경은 view update의 트리거가 된다.</h4>
    <ul>
      <li v-for="item in changingList2">
        {{ item }}
      </li>
    </ul>
    <h4>뷰 에서 제공하는 methods를 사용하면, 새롭게 현재 추가된 array(object)를 반응형으로 변경하게 된다.</h4>
    <ul>
      <li>
        Vue.$set()
      </li>
    </ul>
  </div>
  <hr>
  <div class="v-for-with-v-if">
    <h2># v-for with v-if</h2>
      <h3>실행 우선 순위: v-for > v-if</h3>
      <h4>v-if를 적용시키고 싶으면, wrapper elements를 써야한다. 또는 template</h4>
  </div>
  <hr>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            items: [
                '메밀',
                '보리',
                '쌀'
            ],
            parentMessage: 'Parent',
            items2: [
                { message: 'Foo' },
                { message: 'Bar' }
            ],
            changingList: [
                'push()',
                'pop()',
                'shift()',
                'unshift()',
                'splice()',
                'sort()',
                'reverse()'
            ],
            changingList2: [
                'Object.assign()',
            ],
        },
        methods: {
        }
    })
</script>
</body>
</html>
