<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<style>
    h2 {
        color: mediumseagreen;
    }
    body {
        background: rgba(214, 238, 227, 0.349);
        font-family: 'Roboto Slab', sans-serif;
        font-size: 13px;
    }
    hr {
        border-color:  rgba(174, 208, 241, 0.288)
    }
</style>
<body>
<div id="app">
    <!-- Component is appended -->
    <h2># Component</h2>
    <div class="new-component">
        <test-component/>
    </div>
    <hr>
    <!-- 특정 테이블은 특정 tag 명이 와야된다. -->
    <h2>When :is bind use</h2>
    <!-- 이거 예시가 잘못되어져 있음-->
    <hr>
    <h2>Passing Data to Child Comp with Props</h2>
    <div class="passing-props">
        <!--html 속성에 v-bind를 사용할 때는, js -> camel / html -> kebab case를 활용한다.-->
        <blog-post my-title="New Title"/>
    </div>
    <div class="dynamic-props">
        <!-- v-model / v-bind 를 통해서, 동적 데이터 전달도 가능하다.-->
        <input v-model="parentMsg">
        <br>
        <blog-post :my-title="parentMsg"/>
        <!-- 모든 데이터를 전달하고 싶을 때는 v-bind 속성이 있다. -->
    </div>
    <div class="bi-directional-props">
        <input v-model="titleMsg">
        <sync-component :sync-title.sync="titleMsg"/>
        <!--<sync-component :sync-title=titleMsg" @update:sync-title="val => titleMsg = val"/>-->
    </div>
    <hr>
    <div class="user-custom-event">
        <input v-model="something">
        <p>{{ something }}</p>
        <!--상단 v-model은 하단 나용과 동등-->
        <input :value="something2" @input=" something2 = $event.target.value">
        <p>{{ something2 }}</p>
        <!--커스텀 이벤트 정의-->
        <event-component :value="something2" @input="value => { something2 = value }"></event-component>
        <!--커스텀 v-model 정의-->
        <!--1번은 컴포넌트로 렌더할 때만 먹히는 것 같다.-->
        <!--<model-component v-model="checked-value"></model-component>-->
        <model-component :checked="checked-value" :value="some" @change="value => { checkedValue = value }"></model-component>
        <p>{{ checkedValue }}</p>
    </div>
    <hr>
</div>
<script>
    var testComponentOption =  {
        template: '<div>사용자 정의 컴포넌트 입니다!</div>'
    };

    var propsComponentOption = {
        props: {
            myTitle : {
                type: String,
            },
        },
        template: '<h3>{{ myTitle }}</h3>'
    };

    var syncComponentOption = {
        props: {
            syncTitle : {
                type: String,
            },
        },
        template: '<button @click="itemClick">push me!</button>',
        methods: {
            itemClick: function itemClick(e) {
                this.$emit('update:syncTitle', 'new Value');
            },
        },
    };

    var customUserEventComponentOption = {
        props: {
            value: {
                type: String,
            }
        },
        template: '<p>{{ value }}</p>',
        methods: {

        }
    };

    var customVirtualModelComponentOption = {
        props: {
            checked: {
                type: [Array, Number, Object, Boolean, String]
            },
            value: {
                type: [Array, Number, Object, Boolean, String]
            },
        },
        data: function () {
            return {
                wrappedCheckValue : this.checked,
                wrappedValue : this.value,
            }
        },
        //template: '<p>{{ wrappedValue }}</p>',
        template: '<input type="checkbox" :checked="wrappedCheckValue" :value="wrappedValue">',
    };

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                parentMsg: '',
                titleMsg: 'title message',
                something: '1234',
                something2: '12345',
                checkedValue: true,
                some: 'test'
            }
        },
        components: {
            'test-component': testComponentOption,
            'blog-post': propsComponentOption,
            'sync-component': syncComponentOption,
            'event-component': customUserEventComponentOption,
            'model-component': customVirtualModelComponentOption
        },
        methods: {
            updateModel: function updateModel(newValue) {
                this.titleMsg = newValue;
            },
        },
        computed: {
            checked: {
                get: function get() {
                    return this.checkedValue
                },
                set: function set(value) {
                    this.checkedValue = value;
                },
            },
            value: {
                get: function get() {
                    return this.some;
                },
                set: function set(value) {
                    this.some = value;
                },
            }
        },
    });
</script>
</body>
</html>
